<p>reactive-forms works!</p>

<form [formGroup]="formObj">
  <div class="input-field col s12">
    <label>Name</label>
    <input type="text" formControlName="userName" />

    <div style="color: red;" *ngIf="uName.touched && uName.invalid">
      <div *ngIf="uName.errors.required">Required...!</div>
      <div *ngIf="uName.errors.noSpace">Nospace...!</div>
      <div *ngIf="uName.errors.minlength">
        Min {{ uName.errors.minlength.requiredLength }} length
      </div>
    </div>
  </div>
  <div class="input-field col s12">
    <label>Password</label>
    <input type="password" formControlName="pass" />

    <div style="color: red;" *ngIf="pass.touched && pass.invalid">
      <div *ngIf="pass.errors.required">Required...!</div>
      <div *ngIf="pass.errors.minlength">
        Min {{ pass.errors.minlength.requiredLength }} length
      </div>
    </div>
  </div>
</form>
