<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="mobile">Mobile</a></li>
      <li><a routerLink="books">Books</a></li>
      <li><a routerLink="laptop">Laptop</a></li>
      <li>
        <a [routerLink]="[{ outlets: { outlet1: ['lapiDetails'] } }]"
          >Laptop Details</a
        >
      </li>
      <li>
        <a [routerLink]="[{ outlets: { outlet2: ['lapiOffers'] } }]"
          >Laptop Offers</a
        >
      </li>

      <li><a routerLink="pens">Pen</a></li>
      <li><a routerLink="dashboard">Dashboard</a></li>
      <!--<li *ngIf="isLogin()"><a routerLink="login">Login</a></li>-->
      <li *ngIf="isLogin()">
        <a routerLink="home" (click)="Logout()">Logout</a>
      </li>
      <li><a routerLink="/lazy/lazy-child">Lazy</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a routerLink="home" class="sidenav-close">Home</a></li>
      <li><a routerLink="mobile" class="sidenav-close">Mobile</a></li>
      <li><a routerLink="books" class="sidenav-close">Books</a></li>
      <li><a routerLink="laptop" class="sidenav-close">Laptop</a></li>
      <li><a routerLink="pens" class="sidenav-close">Pen</a></li>
      <li><a routerLink="dashboard" class="sidenav-close">Dashboard</a></li>
      <li *ngIf="isLogin()">
        <a routerLink="home" (click)="Logout()" class="sidenav-close">Logout</a>
      </li>
      <li><a routerLink="/lazy/lazy-child" class="sidenav-close">Lazy</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
  </div>
</nav>
